@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --background-color: #149644;

  --day-element-disabled-color: rgba(255, 255, 255, 0.8);
  --day-element-color: white;
  --day-element-width: 150px;
  --day-element-heigth: 135px;

  --popup-window-width: 720px;
  --popup-window-height: 520px;
}

* {
  margin: 0;
  box-sizing: border-box;

  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--background-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

#calendar .week {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  gap: 15px;
}

#calendar .week .day {
  display: block;
  position: relative;

  width: var(--day-element-width);
  height: var(--day-element-heigth);

  background-color: var(--day-element-color);

  border-radius: 10px;
}

#calendar .week .disabled-day {
  display: block;
  position: relative;

  width: var(--day-element-width);
  height: var(--day-element-heigth);

  background-color: var(--day-element-disabled-color);

  border-radius: 10px;
}

#calendar .week .day .day-header,
#calendar .week .disabled-day .day-header {
  width: var(--day-element-width);
  height: 25px;

  padding-top: 15px;
  padding-left: 15px;
}

#calendar .week .day .count-schedules,
#calendar .week .disabled-day .count-schedules {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 15px;
  bottom: 15px;

  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--background-color);
  color: white;
}

#blocking-window {
  position: absolute;

  width: 100vw;
  height: 200vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
}

#popup-window {
  width: var(--popup-window-width);
  height: var(--popup-window-height);

  background-color: white;
  border-radius: 10px;

  font-weight: 500;
  font-size: 24pt;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  position: relative;
}

#popup-window .cross-sign {
  position: absolute;
  top: 20px;
  right: 20px;

  cursor: pointer;
}

#schedule-list {
  list-style-type: none;
  padding: 30px;
  margin-top: 30px;

  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

li.schedule-element + li.schedule-element {
  margin-top: 20px;
}

#schedule-list .schedule-subject {
  border-radius: 4px;
  margin-left: 15px;
}

#schedule-list .schedule-linebreak {
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  border-width: 2px;

  width: calc(var(--popup-window-width) / 2);
  margin: 0 auto;
}
