<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Schedule information</title>
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/schedule-info.css}">
  <link rel="stylesheet" th:href="@{/css/effects/ripple-effect.css}">
</head>

<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>

  <main>
      <p id="lesson-date" th:text="${schedule.lessonDate}"></p>
      <div id="time" th:text="'Time: ' + ${schedule.lessonStart.substring(0, 5)} + '-' + ${schedule.lessonEnd.substring(0, 5)}"></div>

      <p id="subject-name" th:text="'Subject name: ' + ${schedule.subject.name}"></p>
      <p id="room-number" th:text="'Room number: ' + ${schedule.room.number}"></p>

      <p id="break-in-minutes" th:text="'Break in minutes: ' + ${schedule.breakInMinutes}"></p>

      <hr class="linebreak">

      <div id="teacher">
        <p class="first-name" th:text="${schedule.teacher.firstName}"></p>
        <p class="patronymic" th:text="${schedule.teacher.patronymic}"></p>
        <p class="last-name" th:text="${schedule.teacher.lastName}"></p>
        <p class="phone-number" th:text="${schedule.teacher.phoneNumber}"></p>
      </div>

      <hr class="linebreak">

      <div id="students">
        <div th:each="student: ${schedule.students}" class="student">
          <p class="first-name" th:text="${student.firstName}"></p>
          <p class="patronymic" th:text="${student.patronymic}"></p>
          <p class="last-name" th:text="${student.lastName}"></p>
          <p class="phone-number" th:text="${student.phoneNumber}"></p>
        </div>
      </div>
  </main>

</body>
<script type="text/javascript" th:src="@{/scripts/schedule-info-reformatter.js}"></script>
<script type="text/javascript" th:src="@{/scripts/effects/ripple-effect.js}"></script>

</html>
